/*Estrutura do site*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #fff url("../imagens/fundo.png");
    background-repeat: repeat-x;
}

#container{
    width: 750px;
    margin: 0 auto;
}
/**********************/


/*HEADER*************/
#header{
    height: 180px;
    background: url("../imagens/detalhe-topo.png") no-repeat right top;
    padding: 25px;
}

.logo{
    width: 152px;
    height: 66px;
    background: url(../imagens/logo.png) no-repeat center;
    text-indent: -3000px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#header ul{
    background: #b10333;
    margin-top: 30px;
    float: left;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 7px 7px 3px rgba(0,0,0,0.5);
}

#header ul li{
    float: left;
}

#header ul li a{
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.2em;
    text-decoration: none;
    line-height: 2.1em;
    color: #fff;
    font-weight: 900;
    text-shadow: 2px 2px 1px #000;
}

#header ul li a:hover{
    color: #000;
    text-shadow: none;
    font-weight: 900;      
}

body.home #nav a#home{
    border-top-left-radius: 15px;    
}

body.galeria #nav a#galeria{
    border-bottom-right-radius: 15px;    
}

body.home #nav a#home,
body.brasil #nav a#brasil,
body.internacional #nav a#internacional,
body.economia #nav a#economia,
body.saude #nav a#saude,
body.ciencia #nav a#ciencia,
body.galeria #nav a#galeria{
    color: #fff;
    background: #de003e;
    cursor: text;
}

/* ***********************/

/*LAYOUT DE TRES COLUNAS*/ 

#conteudo{
    background: #f5f5f5;
    margin-top: 60px;
}

#lateral{
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

#tres-colunas #primario{
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}

#duas-colunas #primario{
    width: 555px;
    background: #1d3557;
    float: left;
    margin: 0 0 20px 195px;
}

#uma-coluna #primario{
    width: 750px;
    background: #1d3557;
    float: left;
    margin: 0 0 20px 0;
}


#secundario{
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}
/**********************/

/**********Caixa************/

.caixa{
    background: #b8bac8 url(../imagens/fundo-caixa.png);
    margin:  10px 0;
    padding:  5px;
}

h2{
    font-size: 1.2em;
    background: #294c71;
    color: #fff;
    text-shadow: 2px 2px 1px #000;
    padding: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 5px; 
    text-align: center;
}

.caixa-conteudo{
    padding: 5px;
    background: #fff;
    font-size: 1.2em; 
    margin-top: 5px;  
}

/************MENUS LATERAIS******/

#lateral ul a{
    font-size: 0.7em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
    font-weight: 900;
}

#lateral ul a:hover{
    color: #1d3557;
    background: #f9f9f9 url(../imagens/marcador.png) no-repeat left center;
    padding-left:20px ;
}

/*********FORMULARIO *********/

label{
    display: block;
    cursor: pointer;
}

input{
    font-size: 0.7em;
    background-color: #fff;
    width: 150px;
    padding: 5px;
    
}

input.submit{
    width: 150px;
    color: #fff;
    text-shadow: 2px 1px 1px #000;
    background-color: #294c71;
    border: none;
    padding: 5px;
    margin-top: 6px;
    border-radius: 3px;
    font-weight: 900;
}

/*******FORMATANDO IMAGENS *************/

img.imagem-principal{
    width: 100%;
    box-shadow: 2px 4px 3px #000;
}

img.imagem-principal:hover{
    opacity: 0.7;
}

/******** FORMATANDO CABEÇALHOS********/
h3{
    text-transform: uppercase;
    display:block;
    font-size: 0.8em;
    padding: 2px;
    padding-top: 4px;
    text-align: center;
}

.destaque h3{
    background-color: #b10333;
    color: #fff ;
    border: 1px solid #000;
    box-shadow: 2px 4px 3px #000;
    font-weight: 900;
    text-shadow: 2px 1px 1px #000;
}







/**********RODAPÉ**********/
#rodape-container{
    background: #294C71;
    padding: 20px;
}

#rodape{
    width: 750px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}
/************/

